
<!DOCTYPE html><!--Basic template for all other pages -->
<html>
<head><!--Replaceable title/heading -->
    {% block head %}
    <title> {% block title %} Title {% endblock %}  </title>
    {% endblock %}
</head>
<body><!--Replaceable body -->
    {% block nav %} {% endblock %}
    {% block content %}
    content
    {% endblock %}

    {% block footer %}<!--Copyright stuff -->
    <br>
    <br>
    <br>
	  &copy; Copyright One Day 1-der
	  {% endblock %}

</body>
</html>
